__pycache__/
.vscode/
swanlog/
test.py
ner.py
model/
result/bert-base-chineseformsra_NER.pth
result/bert-base-chineseforWeibo_NER.pth
result/chinese-bert-wwmformsra_NER.pth
result/chinese-bert-wwmforWeibo_NER.pth
result/bert-base-chinese_for_msra_NER.pth
result/bert-base-chinese_for_Weibo_NER.pth
result/chinese-bert-wwm_for_msra_NER.pth
result/chinese-bert-wwm_for_Weibo_NER.pth




